<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601_OFFSET_DATE_TIME_HHMM} %-5p [%t] %c{1.}:%L - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="net.sf.ehcache" level="error"/>
    <Logger name="org.hibernate" level="error"/>
    <Logger name="org.springframework" level="error"/>
    <Logger name="org.apache.commons.digester.Digester" level="INFO"/>
    <Root level="debug">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>