<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:wfw="http://wellformedweb.org/CommentAPI/"
                   xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" >
    <channel>
        <title>#EscapedBlogName()</title>
        <itunes:subtitle>#EscapedBlogDescription()</itunes:subtitle>
        <itunes:summary>#EscapedBlogDescription()</itunes:summary>
        <itunes:author>#BlogOwnerEmail()</itunes:author>
        <itunes:complete>#BlogPodcastComplete()</itunes:complete>
        <link>#BlogURL()</link>
        <description>#EscapedBlogDescription()</description>
        <language>#BlogLanguage()</language>
        <copyright>&#x2117; &amp; &#xA9; #EscapedBlogName()</copyright>
        <image>
            <url>#BlogBaseURL()/favicon.ico</url>
            <title>#EscapedBlogName()</title>
            <link>#BlogURL()</link>
        </image>
        <itunes:category text="#BlogPodcastCategory">
            <itunes:category text="#BlogPodcastSubcategory"/>
        </itunes:category>
        <docs>https://cyber.harvard.edu/rss/rss.html</docs>
        <generator>$BLOJSOM_VERSION</generator>
        <managingEditor>#BlogOwnerEmail()</managingEditor>
        <webMaster>#BlogOwnerEmail()</webMaster>
        <itunes:owner>
            <itunes:name>#BlogOwnerEmail()</itunes:name>
            <itunes:email>#BlogOwnerEmail()</itunes:email>            
        </itunes:owner>
        <itunes:explicit>#BlogPodcastExplicit()</itunes:explicit>
       
        <itunes:image href="#BlogBaseURL()/rss/podcast_art.png"/>
        <pubDate>$BLOJSOM_DATE</pubDate>
        
        #set ($includedCategories = $BLOJSOM_BLOG.getProperty("irss.blog-default-category-mapping").split(","))
        #foreach ($entry in $BLOJSOM_ENTRIES)
        #if ($includedCategories.contains($entry.getCategory()))
        <item>
            <title>$entry.getEscapedTitle()</title>
            <itunes:subtitle>$entry.getEscapedSubtitle()</itunes:subtitle>
            <link>$entryLink</link>
            <description>$entry.getEscapedDescription()</description>
            <itunes:summary><![CDATA[$entry.getEscapedDescription()]]></itunes:summary>
            <guid>$entryLink</guid>
	    <pubDate>$entry.getRFC822Date()</pubDate>
            <category>$entry.getEncodedCategory()</category>
            <itunes:block>$entry.getBlocked()</itunes:block>
            <itunes:duration>$entry.getDuration()</itunes:duration>
            <itunes:isClosedCaptioned>$entry.isClosedCaptioned()</itunes:isClosedCaptioned>
            <itunes:order>$entry.getRFC822Date()</itunes:order>
            <itunes:explicit>$entry.getExplicit()</itunes:explicit>

            #if ($entry.allowsComments())
            #XMLRPCLink($entry 'commentapi')
            <wfw:comment>$xmlrpcLink</wfw:comment>
            <wfw:commentRss>$entryLink?page=comments&amp;flavor=rss2</wfw:commentRss>
            #end
            #RSSEnclosure($entry)
        </item>
        #end
        #end
    </channel>
</rss>
